# Lists Dictionaries and Tuples
This notebook contains the basic concepts behind lists, tuples and dictionaries. We will start with lists.

## Lists
A python list is nothing more than a sequence of variables, usually the elements of a list are numbers or strings, below we have an example of both.

In [1]:
a = [1, 2, 3, 4]
b = ["one", "two", "three", "four"]
print(a)
print(b)

[1, 2, 3, 4]
['one', 'two', 'three', 'four']

### List Elements
In a list each element is assigned a position (just a number), This allows you to access a particular element in the list. It is important to mention that the position of the first element is always 0. 

For example in the code below we print to screen the first and third element of the list ```b```:

In [2]:
print(b[0])
print(b[2])

one
three

Now, the last element of the list can be access by its real position or by the position ```-1```, see below:

In [3]:
print(b[-1])
print(b[3])

four
four

Futhermore, you can also access a range of elements (selecting a subset of the list) by simple specifying the first and last element in the range you want, see below:

In [4]:
c = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(c[3:6])

['d', 'e', 'f']

You can also add an element to a list using ```.append()``` as follows:

In [5]:
e = [1, 2, 3, 4]
e.append(5)
e.append(6)
print(e)

[1, 2, 3, 4, 5, 6]

While if you want to remove an element from a list you can use ```.remove()``` as follows:

In [6]:
g = ["one", "two", "bad_element", "three"]
g.remove("bad_element")
print(g)

['one', 'two', 'three']

It is also possible to modify the value of an element, see below:

In [7]:
example = ["one", "two", "bad data", "fout"]
print(example)
example[2] = "three"
print(example)

['one', 'two', 'bad data', 'fout']
['one', 'two', 'three', 'fout']

### Length of the list
You can find how many elements your list has using the function ```len()``` in the following way:

In [8]:
print(g)
print(len(g))

['one', 'two', 'three']
3

### Ziping Lists
One cool, and useful thing, is to zip two lists together. You can do it using ```zip```, see below:

In [9]:
h = [1, 2, 3, 4]
i = ["one", "two", "three", "four"]
j = list(zip(h, i))
print(j)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

It is important to notice that this is a case where ```j``` is a list of lists. Now, we can unzip the list by doing:

In [10]:
y, z = list(zip(*j))
print(y)
print(z)

(1, 2, 3, 4)
('one', 'two', 'three', 'four')

### List Concatenation
Two lists can be concatenated using the ```+``` operator:

In [11]:
k = [1, 2, 3]
l = [4, 5, 6]
m = k + l
print(m)

[1, 2, 3, 4, 5, 6]

## Dictionaries
Dictionaries are similar to lists, however, the elements are not ordered, and each element consists of a **key-value** pair. The elements are warped around curly brackets ```{}```, and separated by comas. Below you will find a dictionary containing names and ages:

In [12]:
dictio_1 = {"Camila": 27, "Nicolas": 30, "David": 25, "Julia": 27, "Karen": 35}
print(dictio_1)

{'Camila': 27, 'Nicolas': 30, 'David': 25, 'Julia': 27, 'Karen': 35}

In our case the keys are ```Camila```, ```Nicolas```, ```David```, ```Julia```, and ```Karen```, while the corresponding values are ```27```, ```30```, ```25```, ```27```, and ```35``` respectively. 

As an example we can access the values linked to the keys ```Camila``` and ```Nicolas``` (simply find how old they are) in the folowing way:

In [13]:
print(dictio_1["Camila"])
print(dictio_1["Nicolas"])

27
30

Now, lets say that you want to add one more element to the dictionary, in this case the **key-value** pair **Satoshi-21**. You can easily do this by doing:

In [14]:
dictio_1["Satoshi"] = 21
print(dictio_1)

{'Camila': 27, 'Nicolas': 30, 'David': 25, 'Julia': 27, 'Karen': 35, 'Satoshi': 21}

If you want to know how many elements the dictionary has, you can use the function ```len()``` in the same way we used it for lists:

In [15]:
print(len(dictio_1))

6

Finally you can obtain all the **keys** of the dictionary in the form of a list using the ```keys()``` method:

In [16]:
key_list = list(dictio_1.keys())
print(key_list)

['Camila', 'Nicolas', 'David', 'Julia', 'Karen', 'Satoshi']

## Tuples
Tuples are similar to list, with the difference that they are immutable. Tuples use parenthesis ```()```, see below:

In [17]:
tup_1 = (1, 2, 3, 4)
print(tup_1)

(1, 2, 3, 4)

### Tuple Elements
In a tuple each element is assigned a position (just a number), This allows you to access a particular element in the tuple. It is important to mention that the position of the first element is always 0. 

For example in the code below we print to screen the first and third element of the tuple ```tup_2```:

In [30]:
tup_2 = ("Nissan", "Mazda", "Toyota", "Ferrari")
print(tup_2[0])
print(tup_2[2])

Nissan
Toyota

Now, the last element of tuple also has the position ```-1```. Therefore, in the case of our tuple ```tup_2```, we can access the last element in the following two ways:

In [27]:
print(tup_2[-1])
print(tup_2[3])

Ferrari
Ferrari

Futhermore, you can also access a range of elements (selecting a subset of the tuple) by simple specifying the first and last element in the range you want. In the example below we access the first 3 elements of the tuple ```tup_2```:

In [29]:
print(tup_2[0:3])

('Nissan', 'Mazada', 'Toyota')

### Length of the Tuple
You can find how many elements your tuple has using the function ```len()```, In the following lines we print to screen the number of elements in the tuple ```tup_2```:

In [20]:
print(len(tup_2))

4

### Ziping Tuples
We can zip two tuples in the same way we zipped two lists using the function ```zip()```, see below:

In [21]:
tup_3 = [1, 2, 3, 4]
tup_4 = ["one", "two", "three", "four"]
tup_5 = tuple(zip(tup_3, tup_4))
print(tup_5)

((1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'))

We can unzip a tuple of tuples into two tuples in the following way:

In [22]:
tup_6 = (("mazda", "Mazda 2"), ("Toyota", "Rav 4"), ("Nissan", "Nissan Sentra"), ("Chevrolet", "Camaro"))
tup_7, tup_8 = tuple(zip(*tup_6))
print(tup_7)
print(tup_7)

('mazda', 'Toyota', 'Nissan', 'Chevrolet')
('mazda', 'Toyota', 'Nissan', 'Chevrolet')

### Tuple Concatenation
Two tuples can be concatenated using the ```+``` operator, see below:

In [23]:
tup_9 = (1, 2, 3, 4)
tup_10 = (5, 6, 7, 8)
print(tup_9 + tup_10)

(1, 2, 3, 4, 5, 6, 7, 8)

### Final Words on Tuples
Clearly tuples and lists are very similar. However, as we mentioned before, you cannot change the content of a tuple. Try it your self: create a tuple and try to modify one of its elements.