# Strings and Numbers

This notebook contains the basics concepts behind strings and numbers. We will start with strings.

## Strings

We will start with the most popular lines of code of all times: print to screen "Hello world!". This is done using the ```print()``` function as shown below:

In [1]:
print("Hello world!")

Hello world!

Notice that the statement inside the print function is in between ```” ”```. These characters are used to define strings. For example, we can define the variable ```new_string``` as the string ```I bought a new car``` as follows:

In [2]:
new_string = "I bought a new car"
print(new_string)

I bought a new car

Something cool and useful about strings is that you can access one element or a range of element in the string. Each element in the string (each letter) has a position (a number), where 0 is assigned to the first element, 1 to the second, 2 to the third and so on. Therefore, if we want to access the first, the fourth, and the fifth element of our string ```new_string```, we do the following:

In [3]:
first_element = new_string[0]
fourth_element = new_string[3]
fifth_element = new_string[4]

print(first_element)
print(fourth_element)
print(fifth_element)

I
o
u

The last element can be accessed using its normal position, or using the ```-1``` position, see below:

In [4]:
print(new_string[17])
print(new_string[-1])

r
r

Now, you can also create a subset of your original string by defining the range of elements you want to pick from your original string. For example, we can divide the string into two strings ```I bought ``` and ```a new car``` in the following way:

In [5]:
first_half = new_string[0:9]
second_half = new_string[9:18]

print(first_half)
print(second_half)

I bought
a new car

### String concatenation
You can easily concatenate two strings using the ```+``` operator, see below:

In [6]:
action = "I bought "
thing_1 = "a new TV"
thing_2 = "a new bike"

sentence_1 = action + thing_1
sentence_2 = action + thing_2

print(sentence_1)
print(sentence_2)

I bought a new TV
I bought a new bike

### Number of elements in the string

You can count the number of elements in your string using the function ```len()```. In the following block of code we count the number of characters in the variable ```sentence_1```:

In [7]:
print(len(sentence_1))

17

## Numbers
Now we switch to numbers, we will start with basic arithmetic. You can easily make operations between numbers using the ```+```, ```-```, ```*```, and ```/``` operators as shown below. We will use the ```print()``` function to print the resuls:

In [8]:
print(1 + 2)
print(3 - 2)
print(6 / 3)
print(5 * 5)

3
1
2.0
25

If you want to do elevate a number to the power of other, for example $3^5$ you need to use the ```**``` or ```pow()``` as follows:

In [9]:
print(3**5)
print(pow(3, 5))

243
243

A way of taking the square root of a number is to import ```math``` and use ```math.sqrt()```. For example, if we want to calculate $\sqrt{25}$, we would do the following:

In [10]:
import math
print(math.sqrt(25))

5.0

The ```math``` module has a lot of useful functions, it allows you to calculate things such as **log**, **sin**, **cos** and more, below you will find how to use some of these. However, I encourage you to visit this [page]( https://docs.python.org/3/library/math.html
) where you will find all the functions available.

In [11]:
#Log of 100 in base 10
print(math.log(100, 10))

#the number pi
pi = math.pi
print(pi)

#sin of pi/2
print(math.sin(pi/2))

#cos of pi
print(math.cos(pi))

2.0
3.141592653589793
1.0
-1.0

Finally, it is important to know that you can transform a string into a number and vice versa. For example, let’s say we have a string ```a_string = “1”``` and a number ```a_number  = 7 ```. We can calculate ```a_string + a_string``` and ```a_number + a_number```, as we have done before, see below:

In [12]:
a_string = "1"
a_number = 7

print(a_string + a_string)
print(a_number + a_number)

11
14

However, we can transform the string into a number, and the number into a string, using ```int()``` and ```str()```, see below:

In [13]:
new_number = int(a_string)
new_string = str(a_number)

print(new_number)
print(new_string)

1
7

Now we can add them!

In [14]:
print(a_string + new_string)
print(a_number + new_number)

17
8

## Final words
We can also have converted the string using ```double()```, try it! You can also work with complex numbers using ```complex()```. I wont cover those in this notebook, but you can read more about it [here](https://docs.python.org/3/library/stdtypes.html).