# Row Filtering
In this notebook we will go over the basic concepts you need to know to filter rows (remove rows) based on the values on one or many of its columns.

We will start by importing ```pandas``` and a function (```create_pd_table```) that creates the pandas table we will be using.

In [1]:
#Import pandas
import pandas as pd

#Import function
from help_pd_functions import create_pd_table

In the following block of code we create the table and print the first 5 lines. The table has 1000 rows in total and 4 columns:
* student_id
* exam_1
* exam_2
* exam_3

The table resembles the grades obtained by 1000 students in 3 exams.

In [2]:
#Create the table
data = create_pd_table()

#Print the table
data.head(5)

   student_id  exam_1  exam_2  exam_3
0           1       8       2       3
1           2       7       4       1
2           3       2       5       3
3           4       7       9       3
4           5       3       0       6

## Filtering Base on One Column
In the following block of code we create a new table containing rows where the value for ```exam_3``` is equal to 10. Then we print the first 5 rows of the new table.

In [3]:
#Create the table based on condition
bests_exams3 = data[data["exam_3"] == 10]

#Print table
bests_exams3.head(5)

    student_id  exam_1  exam_2  exam_3
7            8       7       4      10
10          11       9       4      10
21          22       9       1      10
22          23       2       7      10
33          34      10       2      10

The filtering took place in the first line: ```data[data["exam_3"] == 10]```.  Next we will make a third table filtering based on the value of 2 columns.

## Filtering Based on Two Columns
In this example we will construct a table where the values for column **exam_1** and **exam_2** are both equal or less than 4. To achieve this goal we will use the "**and**" operator, which is represented by ```&```:

In [4]:
bad_exams = data[(data["exam_1"] <= 4) & (data["exam_2"] <= 4)]
bad_exams.head(5)

    student_id  exam_1  exam_2  exam_3
4            5       3       0       6
6            7       3       2       1
15          16       4       1       6
18          19       0       3       4
20          21       1       0       2

Sometimes the filtering is complex, so it is better to define the conditions before hand. In the following example we show you how to do it, by creating a table where the column ```exam_1``` or the column ```exam_2``` have a value of 8 or more. In this case we use the “**or**” operator represented as ```|```:

In [5]:
#Define conditions
condition_1 = data["exam_1"] >= 8
condition_2 = data["exam_2"] >= 8

#Filter table based on conditions
good_or_bad = data[condition_1 | condition_2]

#Print table
good_or_bad.head()

    student_id  exam_1  exam_2  exam_3
0            1       8       2       3
3            4       7       9       3
8            9       9       5       1
9           10       0       8       7
10          11       9       4      10

## Final Words

We went over the basics concepts behind row filtering. Now it is time for you to start coding, try changing the filter conditions and doing different combinations of  **"or"** and **"and"** operators.