# Sort, Count, Group By and Aggregate
In this notebook we will go over how sort, count group by and aggregate works in Pandas.



We will start by importing ```pandas``` and a function (```create_pd_table```) that creates the pandas table we will be using.

In [1]:
#Import pandas
import pandas as pd

#Import function
from help_pd_functions import create_pd_table3

In [2]:
data = create_pd_table3()

In [4]:
sorted_scores = data.sort_values("score")
sorted_scores_desc = data.sort_values("score", ascending=False)

In [5]:
teams_counts = data.groupby("team").size().reset_index(name='counts')
id_counts = data.groupby("id").size().reset_index(name='counts')

In [6]:
score_sum = data.groupby(["id"]).agg({'score': sum,}).reset_index().rename({'score':'score sum'}, axis=1)
score_mean = data.groupby(["id"]).agg({'score': "mean",}).reset_index().rename({'score':'score mean'}, axis=1)
score_median = data.groupby(["id"]).agg({'score': "median",}).reset_index().rename({'score':'score median'}, axis=1)
score_min = data.groupby(["id"]).agg({'score': "min",}).reset_index().rename({'score':'score min'}, axis=1)
score_max = data.groupby(["id"]).agg({'score': "max",}).reset_index().rename({'score':'score max'}, axis=1)

In [7]:
score_max

   id  score max
0   1         50
1   2         93
2   3         96
3   4         93
4   5         73

## Final Words